.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 5px;
  color: rgb(141, 141, 141);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  display: table;
  padding: 5px;
}

.tableRow {
  display: table-row;
}

.tableHeading {
  display: table-header-group;
}

.tableBody {
  display: table-row-group;
}

.tableFoot {
  display: table-footer-group;
}

.tableCell, .tableHead {
  display: table-cell;
  padding: 5px;
}

.rightAlign{
  text-align: right;
}